<div id="<%= dom_id tweet %>" class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong>@<%= tweet.UserName %></strong> <br>
          <%= tweet.Description %>
        </p>
        <p>
          <%= link_to "Show this tweet", tweet, class: "button is-info is-small" %>
        </p>
      </div>
    </div>
  </article>
</div>
