<section class="section">
  <div class="container">
    <h1 class="title">Tweets</h1>
    
    <!-- Nuevo tweet -->    
    <div class="mt-4">
      <%= link_to "New tweet", new_tweet_path, class: "button is-primary" %>
    </div>

    <!-- Despliega tweets -->
    <div id="tweets"class="mt-4"> <!-- Agregamos mt-4 aquí -->
      <% @tweets.each do |tweet| %>
        <%= render tweet %>

      <% end %>
    </div>

    <!-- Paginación -->
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>

  </div>
</section>